extends layout

block content
	.content.p-5
		h1.pb-4 Control Panel #[small.font-weight-light.pl-3.text-black-50(style="font-size: .5em;") Connected Accounts] 
		br
		h3 Create New API Connector
		form.form-inline(action="/infusionsoftauth")
			.input-group.w-50.pb-3
				input.form-control.mr-2(type="text" name="connectionName" placeholder="Enter name..." required)
				.invalid-feedback Please enter a name for your connection
				select.form-control.custom-select(name="apiName")
					option(value="infusionsoft" selected) Infusionsoft
				.input-group-append
					button.btn.btn-outline-secondary(type=button) Create a new connection
		h3.pt-3 Existing Connections
		br
		if tokens
			.container-fluid.px-0.mx-0
				.row.mx-0
					each token in tokens
						.col-lg-12.pl-0
							.d-flex.align-items-center.border.rounded.mb-3.shadow-sm.bg-white
								img.m-2(src='/images/Infusionsoft_128x128.png' width='48px' height='48px') 
								p.col-sm-1.mb-0.px-3 #{token.app_code}
								p.mr-auto.mb-0.px-5.font-weight-bold #{token.connection_name}
								form.d-flex.align-items-center(action="/infusionsoftauth/isrefresh")
									- var date = new Date();
									- var exp = token.expires_at;
									- var app = token.app_code;
									- var name = token.connection_name;
									- var id = token._id;
									if date > exp
										p.mb-0.px-3.text-danger #{token.expires_at}
									else
										p.mb-0.px-3 #{token.expires_at}
									input(type='hidden' name='app' value=app)
									input(type='hidden' name='name' value=name)
									input(type='hidden' name='id' value=id)
									button.btn.btn-outline-secondary.mx-5(type='submit') Refresh Token
		else
			p No Connections Exist

block script
	script $( function () {$( '.navbar-nav a:first-child' ).addClass( 'active' );});
